body {
  font-family: "Raleway";
}

.nav {
  position: fixed;
  height: 100%;
  width: $sidebar-space;
  border-right: 2px solid black;
  text-align: center;
  overflow-y: auto;
  display: block;
  background-color: #4d400b;
  box-shadow: 2px 2px 6px;
  color: $portrait-color;
  margin-top: -4rem;
}

.nav-img {
  border-radius: 100%;
  margin:10% 10% 0 10%;
  max-width: 80%;
  background-color: #74613b;
  border: 1px solid #000;
}

.nav h1 {
  margin-bottom:-0.5rem;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
color: #000;
}

.active {
  font-size: 20px;
  color: #000 !important;
  border: 1px solid white;
  font-weight: bold;
}

.nav-logo {
  max-width: 100%;
}

.nav-section {
margin-top: 2.25rem;
}

i {
filter: invert(85%);
margin:0.2rem;
}

i:hover {
filter:inherit;
}


.main-content {
  margin-left: $sidebar-space;
  position: relative;
}

.about {
  margin: 4rem;
  padding: 10px;
  background-color: beige;

}

.about-text {
  line-height: 3rem;
  padding-left: 3.75rem;
  display: inline;
}

.about-title {
  @extend %beige-box;
  position: absolute;
  display: inline-block;
  text-align: center;
  padding: 20px;
  left: -48px;
  top: -36px;
  font-size:1.5rem;
}

#portfolio-title {
  padding-bottom: 2rem;
}

#contact-title {
  padding: 2rem;
}

.btn {
@extend %beige-box;
}

.contact {
  background-color: beige;
  padding: 3rem 0rem;
}


/* Media Queries */

@media screen and (max-width: $on-desktop){
  .nav-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $on-pad){
  .about-text {
    line-height: 2rem;
    padding-left: 3.5rem;
  }
}

@media screen and (max-width: $on-palm){

  .nav {
    margin-top: -3rem;
  }

  .nav-title {
    font-size: 1.1rem;
    margin-bottom: 0rem 3rem;
  }
  .nav a {
    font-size: 0.9rem;
  }

  .about {
    margin: 3rem;

    p {
      font-size: 0.9rem;
      padding-left: 2rem;
    }
  }

  .about-title {
    padding: 12px;
    top: -27px;
    left: -35px;


    strong {
      font-weight: initial;
      font-size: 1rem;
    }
  }

  .about-text {
    padding-left: 3.25rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: $on-smallpalm){
  .about {
    p {
      font-size: 0.8rem;
    }
  }
}


@media screen and (max-width: $on-minipalm){
  .about {
    margin:1rem;
    font-size: 0.8rem;
    overflow-y: scroll;
    max-height: 350px;

    p {
      padding-left: 3.25rem;
    }
  }

  .about-text-wrapper {
    padding-top: 1.5rem;
  }

  .about-title {
    top: -10px;
    left: -10px;
  }

  .nav {
    margin-top: -1rem;
  }

  .nav-img {
    margin-left: 2%;
    max-width: 95%;
  }
  .nav-title {
    font-size: 0.8rem;
  }
  .nav-link {
    font-size: 0.75px;
    padding: 0.5rem 0;
  }

  .nav-section > i > a > img{
    padding-bottom: 0.25rem;
}


  .nav-link img {

}

  .nav > div:last-child{
    max-width: 2rem;
    margin-left: 25%;
}
}
