@charset "utf-8";

// My Vars
$sidebar-space:    20%;

$primary-color:    #d2dca6;
$portrait-color:   #dcc6a6;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$teal-color:       #58bfc8;

// Width of the content area
$content-width:    800px !default;

$on-minipalm:      400px !default;
$on-palm:          600px !default;
$on-pad:           700px !default;
$on-desktop:       992px !default;

%beige-box {
  background-color: beige;
  box-shadow: 2px 2px 5px;
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "layout"
;
